/* 
light blue #DEEBF7 rgb(222, 235, 247)
grey #AFABAB rgb(175, 171, 171)
dark blue gray #8497B0 rgb(132, 151, 176)
really light grey #E7E6E6 rgb(231, 230, 130)
*/

@font-face {
  font-family: 'aliceregular';
  src: url('./fonts/Alice-Regular-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;

}

#alice{
  font-family: aliceregular;
}

@media screen and (min-width: 600px){
  #medium{
    display: inline;
    height: 100vh;
  }

  .medium-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-gap: 10px;
    padding: 0 10px 10px 0;
  }

  .flex-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .button-container2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px;
  }

  .button-container2 button{
    margin-bottom: 10px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 20px;
    height: 100px;
    width: 300px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }

  .text-box{
    margin-left: 10px;
    background-color: rgb(132, 151, 176);
  }

  .thailand_button{
    background-image: url(./images/thailand_button.jpg);
  }
  .japan_button{
    background-image: url(./images/japan_button.jpg);
  }
  .southkorea_button{
    background-image: url(./images/southKorea_button.jpg);
  }
  .china_button{
    background-image: url(./images/china_button.jpg);
  }
  .philippines_button{
    background-image: url(./images/manilaPhilippines_button.jpg);
  }

  .content-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .media-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    grid-gap: 10px;
  }

  .image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .image-container img{
    width: 100%;
    height: auto;
    max-width: 200px;
  }

  .video-container iframe{
    width: 100%;
    height: auto;
  }
  
  #small{
    display: none;
  }
  
  #large{
    display: none;
  }
}
